* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color_01: #fee5e5;
    --color_02: #f6f6f6;
    --color_03: #f08080;
    --color_04: #202020;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--color_01);
}

hr {
    color: black;
}

#main-page {
    margin: auto;
    display: flex;
    max-width: 500px;
    flex-direction: column;
}

#main-page-header {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 10px;
    color: var(--color_04);
    font-family: Merriweather;
    margin: 20px auto 10px auto;
    
    #profile-header-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    h1 {
        font-weight: bold;
        transition: all linear 0.2s;

        @media (max-width: 330px) {
            font-size: 1.8rem;
        }
    }

    h2 {
        font-weight: 200;
        font-size: 1.1rem;
        transition: all linear 0.2s;

        @media (max-width: 370px) {
            font-size: 0.9rem;
        }
    }
}

.links-section {
    width: 95%;
    margin: auto;

    .links-section-header {
        display: flex;
        align-items: center;

        width: 100%;
        margin: auto;
        height: 420px;
        border-radius: 15px;
        background-color: var(--color_03);


        @media (max-width: 450px) {
            height: 350px;
        }
    
        .header-background {
            display: flex;
            align-items: flex-end;
            justify-content: first baseline;

            width: 100%;
            margin: auto;
            height: inherit;
            border-radius: 15px;
            transition: all 0.2s linear;

            background-size: 100% 420px;
            background-repeat: no-repeat;
            background-image: url(../assets/imgs/bg-1.jpg);

            /* Trocando o tamanho da imagem de fundo do cabeçalho da seção se links caso a tela seja menor que 400px */
            @media (max-width: 450px) {
                width: 95%;
                height: 95%;
                transition: all 0.2 linear;
                background-size: 100% 400px;
            }
        }

        .links-section-titles {
            color: #fff;
            font-size: 25px;
            text-indent: 12px;
            margin-bottom: 10px;
            transition: all 0.2s linear;

            h5 {
                font-size: 18px;
                font-weight: 200;
            }
        }
    }

    .links-search-input {
        width: 100%;
        margin: 15px auto;
        position: relative;
        
        input[type="search"] {
            outline: 0;
            width: 90%;
            border: none;
            height: 40px;
            padding: 10px;
            text-indent: 15px;
            border-radius: 10px 0 0 10px;
            background-color: var(--color_02);
        }

        .search-icon {
            width: 40px;
            height: 40px;
            position: absolute;
            display: inline-block;
            border-radius: 0px 8px 8px 0;
            background-color: var(--color_02);
            
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: 4px 11px;
            background-image: url("../assets/icons/icon-search-.png");
        }
    }

    .links-section-body {
        height: 330px;
        overflow-y: scroll;
        margin-bottom: 50px;

        ul {
            list-style-type: none;
        }

        .link-button {
            display: flex;
            flex-direction: row;

            width: 95%;
            margin: auto;
            padding: 5px;
            
            cursor: pointer;
            user-select: none;
            border-radius: 10px;
            margin-bottom: 15px;
            text-decoration: none;
            border: 1px solid var(--color_03);
            background-color: var(--color_03);
            transition: all 0.2s linear;
    
            .link-button-icon {
                width: 30px;
                height: 30px;
                margin-left: 5px;
                border-radius: 20px;
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-image: url("../assets/icons/shopee.webp");
            }
    
            p {
                flex: 1;
                color: #fff;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .link-button:hover {
            background-color: var(--color_02);
            border: 1px solid var(--color_03);
            box-shadow: 0px 0px 10px 1px var(--color_03);

            p {
                color: gray;
            }
        }
    }

}