* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color_01: #fee5e5;
    --color_02: #f6f6f6;
    --color_03: #f08080;
    --color_04: #202020;
}

body {
    background-color: var(--color_01);
}

#main-page {
    width: 600px;
    margin: auto;
}

#main-page-header {
    width: 100%;
    font-size: 8pt;
    text-align: center;
    padding-bottom: 10px;
    color: var(--color_04);
    font-family: Merriweather;
    margin: 20px auto 10px auto;
    
    
    #profile-header-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: 200;
        font-size: 18px;
    }
}

.links-section {
    width: 90%;
    margin: auto;

    .links-section-header {
        width: 90%;
        margin: auto;
        height: 410px;
        border-radius: 15px;
        background-color: var(--color_03);
        
        .header-background {
            width: 100%;
            margin: auto;
            height: 410px;
            position: relative;
            border-radius: 15px;
            background-size: 100% 410px;
            background-repeat: no-repeat;
            background-image: url(../assets/imgs/bg-1.jpg);
            transition: all 0.5s ease-in-out;

            /* Trocando o tamanho da imagem de fundo do cabeçalho da seção se links caso a tela seja menor que 400px */
            @media (max-width: 400px) {
                top: 10px;
                width: 90%;
                height: 335px;
                transition: top 0.5 ease-out;
            }
        }

        .links-section-titles {
            top: 545px;
            color: #fff;
            font-size: 25px;
            text-indent: 12px;
            margin-bottom: 8px;
            position: absolute;

            h5 {
                font-size: 18px;
                font-weight: 200;
            }
        }
    }

    .links-search-input {
        width: 480px;
        margin: 15px auto;
        
        input[type="search"] {
            outline: 0;
            padding: 10px;
            width: 450px;
            border: none;
            height: 40px;
            text-indent: 15px;
            position: relative;
            border-radius: 10px 0 0 10px;
            background-color: var(--color_02);
        }

        .search-icon {
            width: 30px;
            height: 40px;
            position: absolute;
            display: inline-block;
            border-radius: 0px 8px 8px 0;
            background-color: var(--color_02);
            
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: 4px 11px;
            background-image: url("../assets/icons/icon-search-.png");
        }
    }

    .links-section-body {
        .link-button {
            width: 480px;
            margin: auto;
            padding: 5px;
            cursor: pointer;
            border-radius: 10px;
            margin-bottom: 15px;
            border: 1px solid var(--color_03);
            background-color: var(--color_03);
            transition: all 0.4s ease-in-out;
    
            .link-button-icon {
                width: 30px;
                height: 30px;
                margin-left: 5px;
                position: absolute;
                border-radius: 20px;
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-image: url("../assets/icons/shopee.webp");
            }
    
            p {
                color: #fff;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .link-button:hover {
            background-color: var(--color_02);
            border: 1px solid var(--color_03);
            box-shadow: 0px 0px 10px 1px var(--color_03);

            p {
                color: gray;
            }
        }
    }

}